.progression-container {
  font-family: 'Arial', sans-serif;
  max-width: 100%; // Ajoutez cette ligne
  overflow-x: auto; // Ajoutez cette ligne
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: bold;
}
.progression {
  display: flex;
  flex-wrap: wrap;
  max-width: 390px; // Limitez la largeur maximale de la fenêtre à 390px
}

.measure {
  flex: 1 1 calc(15% - 20px); // Chaque mesure prendra 25% de l'espace disponible
  min-width: calc(15% - 20px);
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #000;
  border-right: 3px solid #000;
  position: relative;
}

.measure-number {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
}

.chord {
  margin: 0 5px;
}

.measure:last-child {
  border-right: none;
}

.measure-number {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
}

.chords {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.chord-symbol {
  font-size: 24px;
  font-weight: bold;
}

.chord-bar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid #ccc;
}

.chord:last-child .chord-bar {
  display: none;
}
